<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:replace="/fragments/navBarFragment :: navBarFragment"></div>
<table class="table table-dark">
    <thead>
    <tr>
        <th>Movie ID</th>
        <th scope="col">Title</th>
        <th scope="col">Main Actor</th>
        <th scope="col">Released Year</th>
        <th scope="col">Genre</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${movieList.empty}">
        <td colspan="2">No Movies Available</td>
    </tr>
      <tr th:each="movie: ${movieList}">
          <td><span th:text="${movie.movieID}">Movie ID</span></td>
          <td><span th:text="${movie.title}">Title</span></td>
          <td><span th:text="${movie.mainActor}">Main Actor</span></td>
          <td><span th:text="${movie.releasedYear}">Released Year</span></td>
          <td><span th:text="${movie.genre}">Genre</span></td>
          <td><span th:text="${movie.price}">Price</span></td>
      </tr>
    </tbody>
</table>
</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>